<h1><%= "#{@employee.first_name} #{@employee.last_name}"%></h1>
<ul>
<li><%= @employee.alias %></li>
<li><%= @employee.title %></li>
<li><%= @employee.office %></li>
</ul>
<img src= <%= @employee.img_url %> >